body{
  background-image: none;
}
.dropbtn {

  background-color: #4b0195;
  color: #ffffff;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position:fixed;
  padding:0px 2000px 300px 960px;
  background-image: url(../img/主界面-顶.png);
  background-repeat: no-repeat;
  background-size:90%;
  background-position: 0px 0px;
  background-attachment:fixed;
  width: 100px;
  height: 200px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #7f0000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #06eb41}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background:#ffff00;
}
button1{
  color:#000000;
  border-radius:15px;
  background:none;
  padding:0px 0px;
}
  /* 遮罩层 */
  #overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    /* IE9以下不支持rgba模式 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 兼容IE8及以下 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    display: none;
  }
  /* 弹出框主体 */
  .popup {
    background-color: #ffffff;
    max-width: 400px;
    min-width: 200px;
    height: 240px;
    border-radius: 5px;
    margin: 100px auto;
    text-align: center;
  }
  /* 弹出框的标题 */
  .popup_title {
    height: 60px;
    line-height: 60px;
    border-bottom: solid 1px #cccccc;
  }
  /* 弹出框的内容 */
  .popup_content {
    height: 50px;
    line-height: 50px;
    padding: 15px 20px;
  }
  /* 弹出框的按钮栏 */
  .popup_btn {
    padding-bottom: 10px;
  }
  /* 弹出框的按钮 */
  .popup_btn button {
    color: #778899;
    width: 40%;
    height: 40px;
    cursor: pointer;
    border: solid 1px #cccccc;
    border-radius: 5px;
    margin: 5px 10px;
    color: #ffffff;
    background-color: #337ab7;
  }
#test{
  background-image: url(../img/主界面-底.png);
  background-repeat: no-repeat;
  background-size:100%;
  background-position: 0px 0px;
  text-align: center;
  margin: 0px;
  width:1000px;
  height:1000px;
}
cl {
  position:absolute;
  top:40px;
  left:39px;
  margin:80px 200px 300px 665px; 
  background-color: #4b0195;
  color: #ffffff;
  border-radius: 13px;
  padding: 3px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}